DLRRUUDFDBBBDRBLLBRRLFFBRFDFUFDDULULFDBBLDFLUUFRLBRURU



DLR 
RUU 
DFD 

BBB 
DRB 
LLB 

RRL 
FFB 
RFD 

FUF 
DDU 
LUL 

FDB 
BLD 
FLU 

UFR 
LBR 
URU

F1 B2 U3 L2 B1 L3 F3 U3 L3 F1 D2 B2 D2 L3 U2 L3 F2 D2 L2 F2 (20 moves)